{% extends 'base.html' %}
{% load static %}

{% block title %}
About
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mt-2">ABOUT US</h1>
        <br>
        <p>This project is done for the Summer Internship Project-2020 on the topic of building a ecommerce website using Django Framework.</p>
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                <div class="card float-right" style="width: 20rem;">
                    <div class="card-header">
                        Languages used
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">HTML</li>
                        <li class="list-group-item">CSS</li>
                        <li class="list-group-item">JavaScript</li>
                        <li class="list-group-item">Python</li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                <div class="card" style="width: 20rem;">
                    <div class="card-header">
                        External modules
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">BOOTSTRAP</li>
                        <li class="list-group-item">Font Awesome</li>
                        <li class="list-group-item">MailGun</li>
                        <li class="list-group-item">Stripe</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <h3 class="text-center">Project Developers</h3>
        <br>
        <br><br>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <i class="fas fa-user-circle text-center fa-5x " style="margin-top: -45px;"></i>
                    <div class="card-body">
                        <h5 class="card-title">Nirupam Paul</h5>
                        <p class="card-text"><b>Lead Developer</b></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Course:</strong> B.Tech</li>
                        <li class="list-group-item"><strong>Branch:</strong> CSE</li>
                        <li class="list-group-item"><strong>Semester:</strong> 5</li>
                        <li class="list-group-item"><strong>Roll:</strong> 180310007040</li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <i class="fas fa-user-circle text-center fa-5x " style="margin-top: -45px;"></i>
                    <div class="card-body">
                        <h5 class="card-title">Lata Chetry</h5>
                        <p class="card-text"><b>Designer</b></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Course:</strong> B.Tech</li>
                        <li class="list-group-item"><strong>Branch:</strong> CSE</li>
                        <li class="list-group-item"><strong>Semester:</strong> 5</li>
                        <li class="list-group-item"><strong>Roll:</strong> 180310007035</li>
                    </ul>
                </div>
            </div>
            
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <i class="fas fa-user-circle text-center fa-5x " style="margin-top: -45px;"></i>
                    <div class="card-body">
                        <h5 class="card-title">Mriganka </h5>
                        <p class="card-text"><b>Designer</b></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Course:</strong> B.Tech</li>
                        <li class="list-group-item"><strong>Branch:</strong> CSE</li>
                        <li class="list-group-item"><strong>Semester:</strong> 5</li>
                        <li class="list-group-item"><strong>Roll:</strong> 180310007039</li>
                    </ul>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col ">
                <div class="card float-right" style="width: 18rem; margin-right: 65px;">
                    <i class="fas fa-user-circle text-center fa-5x " style="margin-top: -45px;"></i>
                    <div class="card-body">
                        <h5 class="card-title">Manas kamal Nath</h5>
                        <p class="card-text"><b>Programmer</b></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Course:</strong> B.Tech</li>
                        <li class="list-group-item"><strong>Branch:</strong> CSE</li>
                        <li class="list-group-item"><strong>Semester:</strong> 5</li>
                        <li class="list-group-item"><strong>Roll:</strong> 180310007036</li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <i class="fas fa-user-circle text-center fa-5x " style="margin-top: -45px;"></i>
                    <div class="card-body">
                        <h5 class="card-title">Moumita Saha</h5>
                        <p class="card-text"><b>Designer</b></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Course:</strong> B.Tech</li>
                        <li class="list-group-item"><strong>Branch:</strong> CSE</li>
                        <li class="list-group-item"><strong>Semester:</strong> 5</li>
                        <li class="list-group-item"><strong>Roll:</strong> 180310007038</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}